* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;

}
.logo {
    width: 90px;
    height: 90px;
    margin: 0 auto 15px;
    border-radius: 50%;
    background: linear-gradient(135deg, #40e0d0, #0077b6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.logo-img {
    width: 100px;
    margin-bottom: 15px;
}


body {
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.overlay {
    min-height: 100vh;
    background: rgba(0, 90, 120, 0.65);
}

.site-title {
    font-size: 48px;
    color: #e0ffff;
}

.site-subtitle {
    font-size: 18px;
    color: #ccefff;
}

.content-box {
    display: none;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 30px;
    margin-top: 25px;
    backdrop-filter: blur(6px);
}

.content-box h2 {
    color: #e0ffff;
    margin-bottom: 15px;
}

.content-box p,
.content-box li {
    line-height: 1.7;
}

.motivation {
    font-size: 22px;
    font-style: italic;
    color: #f0ffff;
}
/* FORM */
form {
    max-width: 400px;
    margin: auto;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 25px;
}

footer {
    font-size: 14px;
    color: #ccefff;
}
.logo-img {
    width: 100px;
    margin-bottom: 15px;
}
